<div class="page">
    <div id="room">

        <div class="header">
            <div class="row">
                <div class="col-5">
                    <hr /> <hr /> <hr />   <hr /> <hr /> <hr /><hr /> <hr /> <hr /> <hr /> <hr /> <hr />  <h5>--< Hotel Managment Appimiza Sol Tərəfdən Dəyişiklik Edə Bilərsiniz.</h5>   <hr /> <hr /> <hr />  <hr /> <hr /> <hr /> <hr /> <hr /> <hr /> <hr /> <hr /> <hr />
                </div>
          

            </div>
        </div>

     



    </div>
</div>